.user-panel {
  max-height: 95vh;
}
.user-panel__logout {
  position: absolute;
  right: 1%;
  top: 10%;
  height: 40px;
  width: 120px;
  background-color: #563d7c;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.user-panel__user-id {
  position: absolute;
  right: 1%;
  top: 7%;
  font-size: 1.3rem;
}
.user-panel__title {
  margin-top: 5%;
  font-size: 2.5rem;
  text-align: center;
}
.user-panel__markers-info {
  margin-top: 2%;
  text-align: center;
  font-size: 1.8rem;
}
.user-panel__user-markers {
  overflow-y: scroll;
  width: 40%;
  height: 60rem;
  margin: 4rem auto 0 auto;
  background-color: #ebebeb;
}
